html, body {
    margin: 0;
    height: 100%;
}

body {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}
    
#content {
    text-align: center;
    padding-top: 5%;
}

#iphone {
    display: block;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 30rem;
}

#facebook {
    width: 200px;
    border: 2px solid #555555;
    background-color: #000000;
    padding: 0.9rem;
    border-radius: 8px;
}

#facebook:hover {
    background-color: #555555;
}